@font-face {
 font-family: 'Bebas Neue Bold';
 src: url('../fonts/BebasNeueBold.eot');
 src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
 url('../fonts/BebasNeueBold.woff') format('woff'),
 url('../fonts/BebasNeueBold.ttf') format('truetype');
 font-weight: 400;
 font-style: normal;
}

